@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
}

.prose {
  max-width: none;
}

.dark .prose {
  color: #e5e7eb;
}

.dark .prose strong {
  color: #fff;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4 {
  color: #fff;
}